.homeBanner{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.catagories{
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (min-width: 540px) and (max-width: 1024px) {.homeBanner{

    top: 0px;
}
}